@keyframes bounce {
  0% {transform: translateY(-2000px);}
  70% {transform: translateY(30px);}
  90% {transform: translateY(-10px);}
  100% {transform: translateY(0);}
}

@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;
  clip-path: inset(00%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
}

/* фоны при переключении слайдов */
.body_background-color_one {
  background-color: #849D8F;
  background-image: url('../img/body-back-1.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}

.body_background-color_two {
  background-color: #8996A6;
  background-image: url('../img/body-back-2.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}

.body_background-color_three {
  background-color: #9C8A83;
  background-image: url('../img/body-back-3.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}

.body_catalog {
  background-color: #849D8F;
}

/* * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* Кнопка */
.button {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-top: 9px;
  padding-right: 22px;
  padding-bottom: 9px;
  padding-left: 22px;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  vertical-align: middle;
  color: #FFFFFF;

  background-color: #E84D37;
  background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  border: none;
  border-radius: 40px;
  box-shadow: 0 1px 2px 0 #AC1000;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-image: linear-gradient(0deg, #F6AA96 0%, #F38367 100%);
  box-shadow: 0 2px 2px 0 #AC1000;
}

.button:active {
  background-image: linear-gradient(0deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0 2px 2px 0 #942718;
}

/* Ссылка */
.link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  cursor: pointer;
}

.link:hover,
.link:focus,
.link:active {
  color: #FFBC9E;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

/* Поле ввода */
.input-field {
  box-sizing: border-box;
  display: inline-block;
  height: 45px;
  margin: 0;
  padding: 0;
  padding-left: 16px;
  padding-right: 16px;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #323232;
  vertical-align: middle;

  background-color: #FFFFFF;
  border: 1px solid #D3D3D2;
  border-radius: 5px;
}

.input-field::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #999999;
}

.input-field:hover {
  padding-left: 15px;

  border: 2px solid rgba(154, 154, 154, 0.52);
}

.input-field:focus {
  padding-left: 15px;

  outline: none;
  border: 2px solid rgba(46, 136, 228, 0.52);
}

/* Шапка сайта */
.header {
  display: flex;
  flex-direction: column;
  width: 1146px;
  margin: 0 auto;
  padding-top: 9px;
  padding-bottom: 9px;
}

/* Основная навигация */
.main-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* Основное меню сайта */
.main-menu {
  display: flex;
  flex-wrap: wrap;
  max-width: 710px;
  margin: 0;
  padding: 0;
  padding-right: 23px;
  padding-left: 10px;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  list-style: none;
  color: #FFFFFF;
}

.main-navigation__main-menu {
  margin-top: 2px;
}

.main-menu__item {
  position: relative;

  padding-bottom: 15px;
}

.main-menu__link {
  padding-top: 9px;
  padding-right: 14px;
  padding-bottom: 9px;
  padding-left: 14px;

  text-decoration: none;
  color: #FFFFFF;
}

.main-menu__link::after {
  content: '';

  position: absolute;
  bottom: 13px;
  left: 13px;

  width: calc(100% - 26px);
  height: 1px;

  background-color: rgba(255, 255, 255, 0.2);
}

.main-menu__item:first-child:hover .inner-list,
.inner-list:hover {
  display: block;
}

.main-menu__item:first-child:focus-within .inner-list {
  display: block;
}

.main-menu__link:hover,
.main-menu__link:focus {
  color: #323232;
  background: #F7F6F3;
  border-radius: 20px;
}

.main-menu__link:active {
  background: #EDEDED;
  box-shadow: inset 0 2px 1px 0 #696969;
  color: #323232;

  border-radius: 20px;
}

.main-menu__link_active {
  background: #D07058;
  border-radius: 20px;
}

.main-menu__link_active::after {
  content: '';

  position: absolute;
  bottom: 13px;
  left: 13px;

  width: calc(100% - 26px);
  height: 1px;

  background-color: #D07058;
}

.main-menu__link_active:hover::after {
  background-color: #F8F7F4;
}

/* Выпадающее меню */
.main-menu__inner-list {
  position: absolute;
  top: 32px;
  left: -7px;
  z-index: 10;
}

.inner-list {
  display: none;
  margin: 0;
  padding: 0;
  padding-bottom: 8px;

  list-style: none;

  background-color: #F8F7F4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.40);
}

.inner-list__item:first-child {
  position: relative;

  padding-top: 5px;
  padding-bottom: 5px;
}

.inner-list__item:first-child .inner-list__link {
  font-weight: 700;
}

.inner-list__item:first-child::after {
  content: '';

  position: absolute;
  bottom: 0;
  left: 9px;

  width: 128px;
  height: 1px;

  background-color: rgba(0, 0, 0, 0.2);
}

.inner-list__item_active {
  background: #D07058;
}

.inner-list__item_active .inner-list__link {
  color: #FFFFFF;
}

.inner-list__item:hover{
  background: #FBDED7;
}

.inner-list__item:first-child:hover{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.inner-list__item:hover .inner-list__link {
  color: #323232;
}

.inner-list__link {
  display: block;
  padding-right: 22px;
  padding-left: 22px;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 31px;
  text-decoration: none;
  color: #323232;
}

/* Поиск по сайту */
.main-navigation__search {
  margin-top: -8px;
  margin-left: auto;
  margin-right: 6px;
}

.search {
  position: relative;
  padding-top: 2px;
  padding-bottom: 2px;

  width: 35px;
  height: 35px;
}

.search__label {
  display: block;
  width: 32px;
  height: 32px;

  background-image: url('../img/loupe.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.search__label:hover {
  background-image: url('../img/loupe-hovered.svg');
}

.search__input {
  width: 314px;
}

.search__input::placeholder {
  font-size: 14px;
}

.search__inner {
  position: absolute;
  top: 39px;
  right: 3px;

  box-sizing: border-box;
  display: none;
  width: 344px;
  height: 87px;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;

  background: #F8F7F4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.search__label:hover {
  cursor: pointer;
}

.search:hover .search__inner,
.search:focus .search__inner,
.search__inner:hover {
  z-index: 1;

  display: block;

  cursor: pointer;
}

.search:focus-within .search__inner {
  z-index: 1;

  display: block;

  cursor: pointer;
}

.search:focus .search__label::before {
  /* outline: 2px solid rgba(46, 136, 228, 0.52); */
  background-image: url('../img/loupe-hovered.svg');
}

/* Раздел пользователя */
.user-account {
  position: relative;

  padding-top: 15px;
  padding-bottom: 15px;
}

.main-navigation__user-account {
  margin-top: -8px;
  margin-right: 10px;
}

/* Кнопка входа в раздел пользователя */
.user-account__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-account__link {
  position: relative;

  padding-top: 8px;
  padding-right: 17px;
  padding-bottom: 8px;
  padding-left: 45px;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  color: #FFFFFF;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.user-account__link::before {
  content: '';

  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 19px;

  background-image: url('../img/entrance.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-account__link:hover::before,
.user-account__link:focus::before {
  color: #323232;

  background-color: #F8F7F4;
  background-image: url('../img/entrance-black.svg');
}

.user-account__link:hover,
.user-account__link:focus {
  color: #323232;

  background-color: #F8F7F4;
}

.user-account:hover .user-login,
.user-login:hover {
  display: block;
}

.user-account:focus-within .user-login {
  display: block;
}

/* Форма авторизации */
.user-login {
  position: absolute;
  top: 44px;
  right: 0;
  z-index: 10;

  box-sizing: border-box;
  display: none;
  width: 276px;
  min-height: 217px;
  padding-top: 20px;
  padding-right: 17px;
  padding-bottom: 10px;
  padding-left: 19px;

  background: #F8F7F4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.main-navigation__user-account {
  margin-top: -8px;
}

.user-login__input {
  width: 100%;
  margin-bottom: 17px;
}

.user-login__input::placeholder {
  font-size: 14px;
}

.user-login__label:last-of-type .user-login__input {
  margin-bottom: 20px;
}

.user-login__text {
  margin: 0;
}

.user-login__link {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
}

.user-login__inner {
  display: flex;
  align-items: center;
}

.user-login__button {
  margin-right: 17px;
  padding-left: 24px;
  padding-right: 24px;
}

/* Корзина */
.basket {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-navigation__basket {
  margin-top: -8px;
}

.basket__link {
  position: relative;

  padding-top: 8px;
  padding-right: 17px;
  padding-bottom: 8px;
  padding-left: 45px;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  color: #FFFFFF;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px 20px;

  cursor: default;
}

.basket__link::before {
  content: '';

  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 20px;

  background-image: url('../img/basket.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket_full {
  padding-top: 15px;
  padding-bottom: 15px;
}

.basket__link_full {
  color: #323232;

  background-color: #F8F7F4;
}

.basket__link_full:before {
  background-image: url('../img/basket-red.svg');
}

.basket:hover .basket-full,
.basket__link_full:focus + .basket-full,
.basket-full:hover {
  display: flex;
}

.basket_full:focus-within,
.basket:focus-within .basket-full {
  display: flex;
}

.basket__link_full:hover {
  cursor: pointer;
}

/* Корзина с товарами */
.basket-full {
  position: absolute;
  top: 45px;
  right: 0;
  z-index: 2;

  box-sizing: border-box;
  display: none;
  flex-direction: column;
  width: 542px;
  padding-top: 17px;
  padding-right: 14px;
  padding-bottom: 22px;
  padding-left: 23px;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;

  background-color: #F8F7F4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.40);
}

.basket-full__list {
  margin: 0;
  padding: 0;
}

.basket-full__item {
  position: relative;

  box-sizing: border-box;
  display: flex;
  padding-bottom: 20px;
}

.basket-full__item:last-of-type {
  margin-bottom: 11px;
  border-bottom: 1px solid #CACAC7;
}

.basket-full__delete-button {
  position: relative;

  margin: 0;
  margin-right: 20px;
  margin-top: 10px;
  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.basket-full__delete-button::before {
  content: '';

  position: absolute;
  top: 1px;
  left: 0px;

  width: 11px;
  height: 11px;

  background-image: url('../img/cross-small.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket-full__image {
  margin-right: 12px;
}

.basket-full__title {
  box-sizing: border-box;
  width: 230px;
  margin: 0;
  margin-right: 17px;
  padding-top: 10px;
}

.basket-full__desc {
  margin-right: 29px;
  padding-top: 10px;
}

.basket-full__desc:last-of-type {
  margin-right: 0;
}

.basket-full__desc_price {
  color: #999999;
}

.basket-full__text {
  align-self: flex-end;
  margin: 0;
  margin-bottom: 14px;

  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

.basket-full__button {
  align-self: flex-end;
  padding-left: 16px;
  padding-right: 16px;
}

/* Режим работы и телефон */
.header__text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
  width: 20%;
  margin: 0;
  margin-top: -5px;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #FFFFFF;
}

.header__tel-link {
  z-index: 1;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #FFFFFF;

  cursor: pointer;
}

.header__work-hours {
  margin-bottom: 4px;
}

/* Основное содержимое */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1146px;
  margin: 0 auto;
}

/* Промо-слайдер */
.promo-slider {
  position: relative;

  width: 1200px;
}

.promo-slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-slider__controls {
  position: absolute;
  bottom: 84px;
  left: 27px;
  z-index: 1;

  display: flex;

  width: 79px;
}

.promo-slider__label {
  display: block;
  box-sizing: border-box;
  width: 21px;
  height: 21px;
  margin-right: 8px;

  border: 2px solid #FFFFFF;
  border-radius: 50%;
}

.promo-slider__label:last-child {
  margin-right: 0;
}

.promo-slider__label:hover {
  cursor: pointer;
}

.promo-slider__button:focus ~ .promo-slider__controls {
  outline: 2px solid rgba(46, 136, 228, 0.52);
}

.promo-item {
  position: relative;

  display: none;
  flex-direction: column;
  align-items: center;
  min-height: 586px;
}

.promo-slider__promo-item {
  margin-top: -43px;
}

/* Переключение слайдов */
.promo-slider__button:first-of-type:checked ~ .promo-slider__controls .promo-slider__label:first-child,
.promo-slider__button:nth-of-type(2):checked ~ .promo-slider__controls .promo-slider__label:nth-child(2),
.promo-slider__button:nth-of-type(3):checked ~ .promo-slider__controls .promo-slider__label:nth-child(3) {
  background-color: #FFFFFF;
}

.promo-slider__button:first-of-type:checked ~ .promo-slider__list .promo-item:first-child,
.promo-slider__button:nth-of-type(2):checked ~ .promo-slider__list .promo-item:nth-child(2),
.promo-slider__button:nth-of-type(3):checked ~ .promo-slider__list .promo-item:nth-child(3) {
  display: flex;
}

.promo-item__image {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;

  margin-left: -323px;
}

.promo-item__title {
  margin: 0;
  margin-bottom: 31px;
  width: 675px;
  padding-top: 308px;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
}

.promo-item__title_size_s {
  width: 650px;
}

.promo-item__button {
  margin: 0 auto;
  margin-bottom: 41px;
  padding-top: 10px;
  padding-right: 41px;
  padding-bottom: 10px;
  padding-left: 41px;

  font-size: 32px;
  line-height: 44px;
}

/* Баннеры */
.promo-banners {
  width: 1146px;
  padding-bottom: 40px;
}

.main__promo-banners {
  margin-top: -22px;
}

.banner-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 560px;
  min-height: 229px;
  padding-top: 15px;
  padding-right: 23px;
  padding-bottom: 18px;
  padding-left: 20px;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 700;
  color: #FFFFFF;

  background-repeat: no-repeat;
  background-position: -1px 0;
  background-size: cover;
  border-radius: 18px;
}

.banner-item:first-child {
  background-color: #42050A;
  background-image: url('../img/back-1.jpg');
}

.banner-item:nth-child(2) {
  background-color: #432A1B;
  background-image: url('../img/back-2.jpg');
}

.promo-banners__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.banner-item__title {
  margin: 0;
  margin-bottom: 16px;

  font-size: 35px;
  line-height: 41px;
}

.banner-item__text {
  margin: 0;
  margin-bottom: 45px;

  font-size: 18px;
  line-height: 22px;
}

.banner-item__button {
  align-self: flex-end;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Популярные товары */
.popular-items {
  z-index: 1;

  width: 1146px;
  padding-bottom: 38px;
}

.popular-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-list__item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.popular-list__title {
  z-index: 1;

  width: 267px;
  margin: 0;
  order: 1;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}

.popular-list__link {
  text-decoration: none;
  color: #FFFFFF;
}

.popular-list__image {
  z-index: 1;

  margin-bottom: 13px;
}

.popular-list__price {
  position: absolute;
  top: 180px;
  left: 0;
  z-index: 2;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 13px;
  word-spacing: -8px;
  color: #FFFFFF;
}

.popular-list__price_kg {
  margin-left: -4px;

  font-size: 30px;
}

.popular-list__button {
  display: none;
  order: 1;
}

.popular-list__item_label_hit {
  position: relative;
}

.popular-list__item_label_hit::after {
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  width: 61px;
  height: 61px;

  background-image: url('../img/hit.svg');
  background-repeat: no-repeat;
}

/* фон и кнопка при наведении */
.popular-list__item::before {
  content: '';

  position: absolute;
  top: -8px;
  left: -14px;

  width: 296px;
  height: calc(100% + 84px);
}

.popular-list__item:hover::before {
  background: rgba(248, 247, 244, 0.2);
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.40);
  border-radius: 5px;
}

.popular-list__item:hover .popular-list__button {
  position: absolute;
  bottom: -57px;
  left: 31px;
  
  display: block;
}

/* Преимущества компании */
.main__features {
  position: relative;
  margin-bottom: 40px;
  width: 1200px;
}

.features {
  box-sizing: border-box;
  width: 1146px;
  padding-top: 24px;
  padding-right: 28px;
  padding-left: 20px;
  padding-bottom: 8px;

  font-family: 'Roboto', 'Arial', sans-serif;
  list-style: none;
  color: #323232;

  background-color: #EFE3CC;
  background-image: url('../img/back-5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 18px;
}

.features__text {
  margin: 0;
  margin-bottom: 10px;

  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  list-style: none;
}

.features__item {
  position: relative;

  box-sizing: border-box;
  width: 534px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 58px;
}

.features__item::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  width: 49px;
  height: 49px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.features__item:first-child::before {
  background-image: url('../img/ice-cream.svg');
}

.features__item:nth-child(2)::before {
  background-image: url('../img/cow.svg');
}

.features__item:nth-child(3)::before {
  background-image: url('../img/eco.svg');
}

.features__item:nth-child(4)::before {
  background-image: url('../img/thermometer.svg');
}

/* Обертка для новостей и рассылки */
.section-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1146px;
  padding-bottom: 38px;
}

/* Новости */
.news-preview {
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #323232;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 561px;
  min-height: 222px;
  padding-top: 22px;
  padding-right: 225px;
  padding-bottom: 22px;
  padding-left: 21px;

  background-color: #FFFFFF;
  background-image: url('../img/back-3.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 18px;
}

.news-preview__title {
  margin: 0;
  order: 1;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.news-preview__link {
  text-decoration: none;
  color: #323232;

  border-bottom: 2px solid #323232;
}

.news-preview_desc {
  margin: 0;
  margin-bottom: 3px;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

/* Рассылка */
.signup {
  box-sizing: border-box;
  width: 561px;
  min-height: 222px;
  padding-top: 33px;
  padding-right: 27px;
  padding-bottom: 33px;
  padding-left: 27px;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #323232;

  background-color: #F8F7F4;
  background-image: url('../img/back-4.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 18px;
}

.signup__text {
  margin: 0;
  margin-bottom: 35px;
}

.signup__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.signup__input {
  width: 367px;
}

.signup__button {
  padding-left: 18px;
  padding-right: 18px;
}

/* Карта */
.map {
  position: relative;

  width: 1200px;
  height: 429px;
}

.map__iframe {
  position: relative;
  z-index: 1;

  display: block;
  border: none;
}

.map__image {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  margin: 0 auto;
}

.contacts {
  position: absolute;
  top: 61px;
  left: 869px;
  z-index: 2;

  font-family: 'Roboto', 'Arial', sans-serif;
  color: #323232;

  box-sizing: border-box;
  width: 305px;
  padding-top: 28px;
  padding-right: 23px;
  padding-bottom: 32px;
  padding-left: 26px;

  background-color: rgba(255, 255, 255, 0.98);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 18px;
}

.contacts__text {
  margin: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.contacts__text:first-of-type {
  padding-right: 100px;
}

.contacts__text:last-of-type {
  margin-bottom: 24px;
}

.contacts__address,
.contacts__tel {
  margin: 0;
  margin-bottom: 20px;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.contacts__tel {
  display: block;
  margin-bottom: 4px;

  text-decoration: none;
  color: inherit;
}

.contacts__button {
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 28px;
  
}

/* Подвал сайта*/
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1146px;
  margin: 0 auto;
  padding-top: 21px;
  padding-bottom: 21px;

  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer_main-page {
  border-top: none;
}

/* Социальные сети */
.socials {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: auto;
  padding: 0;
  padding-top: 8px;

  list-style: none;

  cursor: pointer;
}

.socials__item {
  width: 40px;
  height: 40px;
  margin-right: 9px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.socials__item:focus-within {
  outline: 2px solid rgba(46, 136, 228, 0.52);
}

.socials__item_tw {
  background-image: url('../img/twitter.svg');
}

.socials__item_tw:hover {
  background-image: url('../img/twitter-hover.svg');
}

.socials__item_tw:active {
  background-image: url('../img/twitter-active.svg');
}

.socials__item_inst {
  background-image: url('../img/instagram.svg');
}

.socials__item_inst:hover {
  background-image: url('../img/instagram-hover.svg');
}

.socials__item_inst:active {
  background-image: url('../img/instagram-active.svg');
}

.socials__item_fb {
  background-image: url('../img/fb.svg');
}

.socials__item_fb:hover {
  background-image: url('../img/fb-hover.svg');
}

.socials__item_fb:active {
  background-image: url('../img/fb-active.svg');
}

.socials__item_vk {
  background-image: url('../img/vk.svg');
}

.socials__item_vk:hover {
  background-image: url('../img/vk-hover.svg');
}

.socials__item_vk:active {
  background-image: url('../img/vk-active.svg');
}

.socials__item:last-child {
  margin-right: 0;
}

/* Навигация в подвале */
.footer-nav {
  display: flex;
  flex-wrap: wrap;
  min-width: 305px;
  margin: 0;
  margin-right: 15px;
  margin-left: 15px;
  padding: 0;
  padding-top: 11px;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  list-style: none;
}

.footer-nav__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 32px;
}

.footer-nav__column:last-of-type {
  margin-right: 0;
}

.footer-nav__link {
  box-sizing: border-box;
  margin-bottom: 5px;

  text-decoration: none;
  color: #FFFFFF;
}

.footer-nav__link_supplier {
  position: relative;
  font-weight: 700;
}

.footer-nav__link_supplier::before {
  content: '';

  position: absolute;
  top: 5px;
  left: -19px;

  width: 15px;
  height: 13px;

  background-image: url('../img/heart.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Copyright */
.copyright {
  width: 190px;
  margin-left: auto;
}

.copyright__logo {
  display: block;
  width: 109px;
  height: 38px;
  margin-bottom: 6px;

  background-image: url('../img/logo-htmlacademy.svg');
  background-repeat: no-repeat;
}

.copyright__link {
  text-decoration: none;
  color: #FFFFFF;
}

.copyright__text {
  margin: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #FFFFFF;
}

/* Страница каталога */
.main_catalog {
  margin-top: -28px;
}

.main__title {
  width: 1146px;
  margin: 0;
  margin-bottom: 11px;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  color: #FFFFFF;
}

/* Хлебные крошки */
.breadcrumbs {
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  order: -1;
  width: 80%;
  margin: 0;
  padding: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  list-style: none;
  color: #FFFFFF;
}

.main__breadcrumbs {
  margin-bottom: 4px;
}

.breadcrumbs__item:last-child {
  padding-right: 0;
}

.breadcrumbs__link {
  text-decoration: none;
  color: #FFFFFF;
}

.breadcrumbs__divider {
  padding-left: 5px;
  padding-right: 5px;
}

/* Фильтр товаров */
.catalog-filters {
  width: 1146px;
  padding-bottom: 40px;
}

.catalog-filters__form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.catalog-filters__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.catalog-filters__inner {
  box-sizing: border-box;
  display: flex;
  height: 35px;
  margin-right: 17px;
  padding-top: 7px;
  padding-right: 20px;
  padding-bottom: 7px;
  padding-left: 16px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.catalog-filters__inner:focus-within {
  outline: 2px solid rgba(46, 136, 228, 0.52);
}

.catalog-filters__legend {
  margin-bottom: 8px;
  padding-top: 15px;
  padding-left: 16px;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #FFFFFF;
}

.catalog-filters__label {
  position: relative;

  padding-left: 34px;
  padding-right: 15px;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #FFFFFF;

  cursor: pointer;
}

.catalog-filters__label:last-of-type {
  padding-right: 0px;
}

/* Сортировка */
.catalog-filters__select {
  position: relative;

  box-sizing: border-box;
  width: 156px;

  -webkit-appearance: none;
  appearance: none;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #FFFFFF;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.catalog-filters__inner_select {
  background-image: url('../img/icon-down-dir.svg');
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-size: 11px 10px;
}

.catalog-filters__select:focus {
  outline: 0;
}

.catalog-filters__inner:hover .catalog-filters__select{
  color: #323232;
}

.catalog-filters__inner_select:hover {
  background-image: url('../img/icon-down-dir-black.svg');
}

/* Range */
.catalog-filters__inner_range {
  position: relative;
  width: 218px;
}

.catalog-filters__inner_range .catalog-filters__label:before {
  content: '';
  position: absolute;
  top: 9px;
  left: 4px;

  width: 178px;
  height: 4px;

  background-color: rgba(255, 255, 255, 0.5);

  cursor: default;
}

.catalog-filters__range-button {
  position: absolute;

  width: 20px;
  height: 22px;
  padding: 0;

  background-color: transparent;
  background-image: url('../img/filter-button.svg');
  border: none;
}

.catalog-filters__range-button_one {
  top: 8px;
  left: 34px;

  cursor: pointer;
}

.catalog-filters__range-button_two {
  top: 8px;
  left: 132px;

  cursor: pointer;
}

/* Радио-кнопки */
.catalog-filters__inner_radio {
  padding-left: 12px;
}

.catalog-filters__radio + .catalog-filters__label::before {
  content: '';

  position: absolute;
  left: 0;

  width: 22px;
  height: 22px;

  background-image: url('../img/radio-off.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-filters__radio + .catalog-filters__label:hover::before {
  background-image: url('../img/radio-off-hover.svg');

  cursor: pointer;
}

.catalog-filters__radio:disabled + .catalog-filters__label::before {
  background-image: url('../img/radio-off-disabled.svg');

  cursor: default;
}

.catalog-filters__radio:disabled + .catalog-filters__label {
  opacity: 0.4;

  cursor: default;
}

.catalog-filters__radio:checked + .catalog-filters__label::before,
.catalog-filters__radio:focus + .catalog-filters__label::before {
  background-image: url('../img/radio-on.svg');
}

/* Чекбоксы */
.catalog-filters__inner_checkbox {
  margin-right: 13px;
}

.catalog-filters__checkbox + .catalog-filters__label {
  padding-right: 19px;
}

.catalog-filters__checkbox + .catalog-filters__label:last-of-type {
  padding-right: 0;
}

.catalog-filters__checkbox + .catalog-filters__label::before {
  content: '';

  position: absolute;
  left: 0;

  width: 20px;
  height: 20px;

  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-filters__checkbox + .catalog-filters__label:hover::before {
  background-image: url('../img/checkbox-off-hover.svg');

  cursor: pointer;
}

.catalog-filters__checkbox:disabled + .catalog-filters__label::before {
  background-image: url('../img/checkbox-off-disabled.svg');

  cursor: default;
}

.catalog-filters__checkbox:disabled + .catalog-filters__label {
  opacity: 0.4;

  cursor: default;
}

.catalog-filters__checkbox:checked + .catalog-filters__label::before {
  width: 24px;

  background-image: url('../img/checkbox-on.svg');
}

.catalog-filters__inner_checkbox:focus-within {
  outline: 0;
}

.catalog-filters__checkbox:focus + .catalog-filters__label {
  outline: 2px solid rgba(46, 136, 228, 0.52);
}

/* Кнопка 'Применить' */
.catalog-filters__button {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-top: 7px;
  padding-right: 27px;
  padding-bottom: 7px;
  padding-left: 27px;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  vertical-align: middle;
  color: #FFFFFF;

  background-color:rgba(255, 255, 255, 0.2);
  border: 2px solid #FFFFFF;
  border-radius: 20px 20px;

  cursor: pointer;
}

.catalog-filters__button:hover,
.catalog-filters__button:focus {
  color: #323232;

  background-color: #FFFFFF;
}

.catalog-filters__button:active {
  padding-top: 9px;
  padding-right: 29px;
  padding-bottom: 9px;
  padding-left: 29px;

  color: #323232;

  background: #EAEAEA;
  border: none;
  box-shadow: inset 0 2px 1px 0 #696969;
}

/* Каталог товаров */
.product {
  width: 1147px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.product__list {
  margin-bottom: 38px;
}

.product-list__item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 26px;
  margin-bottom: 25px;
}

.product-list__item:nth-child(4n) {
  margin-right: 0;
}

.product-list__title {
  z-index: 2;

  width: 267px;
  margin: 0;
  margin-bottom: 14px;
  order: 1;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}

.product-list__link {
  text-decoration: none;
  color: #FFFFFF;
}

.product-list__title_size_s {
  width: 205px;
}

.product-list__image {
  margin-bottom: 13px;
}

.product-list__price {
  position: absolute;
  top: 181px;
  left: 0;
  z-index: 3;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 13px;
  word-spacing: -8px;
  color: #FFFFFF;
}

.product-list__button {
  display: none;
  order: 1;
  padding-right: 18px;
  padding-left: 18px;
}

.product-list__price_kg {
  margin-left: -4px;

  font-size: 30px;
}

/* фон и кнопка при наведении */
.product-list__item::before {
  content: '';

  position: absolute;
  top: -6px;
  left: -14px;
  z-index: 1;
}

.product-list__item:hover::before {
  width: 295px;
  height: calc(100% + 68px);
  
  background: rgba(248, 247, 244, 0.2);
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.40);
  border-radius: 5px;
}

.product-list__item:hover .product-list__button {
  position: absolute;
  bottom: -38px;
  left: 31px;
  z-index: 2;

  display: block;
}

.product-list__item:hover .product-list__image {
  z-index: 2;
}

/* Постраничная навигация */
.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  padding-bottom: 31px;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  list-style: none;
  color: #FFFFFF;
}

.pagination__item,
.pagination__back,
.pagination__forward {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 26px;
  margin-right: 3px;

  cursor: pointer;
}

.pagination__back,
.pagination__forward {
  width: 11px;
  margin-right: 9px;
}

.pagination__forward {
  margin-right: 0px;
  margin-left: 9px;
}

.pagination__back:focus-within,
.pagination__forward:focus-within {
  outline: 2px solid rgba(46, 136, 228, 0.52);
}

.pagination__back:focus-within {
  outline: none;
}

.pagination__item:hover {
  display: flex;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.pagination__item:active {
  color: #353535;

  background-color: #FFFFFF;
  border-radius: 50%;
}

.pagination__item_current {
  color: #353535;

  background-color: #FFFFFF;
  border-radius: 50%;

  cursor: default;
}

.pagination__link:active {
  color: #353535;
}

.pagination__item_current:hover {
  background-color: #FFFFFF;
}

.pagination__item:last-child {
  margin-right: 0;
}

.pagination__link {
  color: #FFFFFF;
  text-decoration: none;
}

.pagination__back {
  background-image: url('../img/pag-back.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.pagination_disabled {
  opacity: 0.2;

  cursor: default;
}

.pagination__forward {
  background-image: url('../img/pag-forward.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* Модальное окно с формой отправки сообщения */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}

.overlay_show {
  display: block;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;

  display: none;
  margin-left: -238px;
  margin-top: -221px;
  
  animation-name: bounce;
  animation-duration: 1s;
}

.modal_show {
  display: inline-block;

  vertical-align: middle;
}

.modal_error {
  animation-name: shake;
  animation-duration: 1s;
}

.modal__form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 477px;
  padding-top: 14px;
  padding-right: 25px;
  padding-bottom: 27px;
  padding-left: 24px;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #323232;

  background-color: #F8F7F4;
  border-radius: 5px;

  transition: all 2s;
}

.modal_text {
  margin: 0;
  margin-bottom: 21px;
}

.modal__input {
  width: 268px;
  margin-bottom: 20px;
}

.modal__textarea {
  width: 100%;
  height: 155px;
  margin-bottom: 25px;
  padding-top: 10px;

  resize: none;
}

.modal__textarea:hover,
.modal__textarea:focus,
.modal__textarea:active {
  padding-top: 9px;
}

.modal__close-button {
  position: absolute;
  top: 15px;
  left: 443px;

  width: 18px;
  height: 17px;

  background: none;
  border: none;
  background-image: url('../img/cross-big.svg');
  background-repeat: no-repeat;
  background-position: 0 0;

  cursor: pointer;
}

.modal__button {
  align-self: flex-end;
}